.generated_files/
build/
dist/
.pytest_cache/
nbproject/
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
out/
__pycache__/
*.egg-info/
.venv/
.tox/
.vscode/
termapy_cfg/
.coverage
CLAUDE.md
*.log
.cmd_history.txt
